* {
    padding: 0;
    margin-right: 50px;
    margin-left: 50px;
} 

body {
//background: #fff;
background-image: url("sayagata-400px.png");
background-repeat: repeat-y;
font-family: 'Oswald', sans-serif;
//font-size: 11px;
//line-height: 18px;
//color: #333333;
}
